<h1>Listing parties</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Rua</th>
    <th>Número</th>
    <th>Complemento</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Início</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parties.each do |party| %>
  <tr>
    <td><%= party.name %></td>
    <td><%= party.description %></td>
    <td><%= party.street %></td>
    <td><%= party.street_number %></td>
    <td><%= party.street_extra %></td>
    <td><%= party.city.name %></td>
    <td><%= party.state.name %></td>
    <td><%= party.latitude %></td>
    <td><%= party.longitude %></td>
    <td><%= party.start_at %></td>
    <td><%= link_to 'Show', party %></td>
    <% if user_signed_in? and current_user == party.user %>
      <td><%= link_to 'Edit', edit_party_path(party) %></td>
      <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= paginate @parties %>

<%= link_to 'New Party', new_party_path %>
