<p>
  <b>Nome:</b>
  <%= @party.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @party.description %>
</p>

<p>
  <b>Logradouro:</b>
  <%= @party.street %>
</p>

<p>
  <b>Número:</b>
  <%= @party.street_number %>
</p>

<p>
  <b>Complemento:</b>
  <%= @party.street_extra %>
</p>

<p>
  <b>Cidade:</b>
  <%= @party.city.name %>
</p>

<p>
  <b>Estado:</b>
  <%= @party.state.uf %>
</p>

<p>
  <b>Latitude:</b>
  <%= @party.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @party.longitude %>
</p>

<p><%= link_to "Google Maps", "http://maps.google.com.br/?q=@#{@party.latitude},#{@party.longitude}", :target => "_blank" %></p>

<p>
  <b>Começo:</b>
  <%= l @party.start_at %>
</p>


<%= link_to 'Editar', edit_party_path(@party) %> |
<%= link_to 'Voltar', parties_path %>
